
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
  grid-area: aside;
}

aside h2 {
  text-align: center;  
  margin-bottom: 15px; 
}


aside article {
  background: #fff3;
  border: 1px solid #5a421f;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}


ul {
  list-style: none;   
  padding: 0;     
  margin: 0;       
}


nav ul {
  display: flex; 
  gap: 15px;         
  list-style: none;       
  padding: 0;             
}

nav a {
  text-decoration: none; 
  color: black;           
  font-weight: bold;
}

header, main, section, aside, footer{
    background-color: #edeae8;
    border: 2px solid; 
    padding: 20px;
    border-radius: 5px;
    align-items: center;}

body {
    display: grid;
    min-height: 100vh;
    gap: 10px;
    font-family: arial, sans-serif; 
    grid-template-areas:
        "header header"
        "main   aside"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr; 
    align-items: center;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    grid-area: auto;
}

section {
   grid-area: main; 
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}